body {
  background-color: #282c34;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}
.animate {
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}